body {
    font-family: Arial, FreeSans;
    background-color: #333399;
    font-size: 25px;
    color: white;
}
h {
    font-size: 50px;
    font-weight: bold;
}
a {
    font-weight: bold;
    color: lightgrey;
}

.scalebtn {
	font-size: 50px;
	font-weight: bold;
	padding: 5px;
	font-family: Arial, FreeSans;
	background-color: white;
    color: #333399;
	width: 100px;
	height: 100px;
	margin-left: none;
	margin-right: none;
}

/* Escape game related */

#info {
	background-color: green;
	border-left: 10px solid lightgreen;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
#warning {
	background-color: darkorange;
	border-left: 10px solid orange;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
#errinfo {
	background-color: darkred;
	border-left: 10px solid red;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#canvas_container {
     position: relative;
}

#EscapeCanvas {
    position: absolute;
    z-index: -1;
}

.CanvasInputElement {
	font-family: Arial, FreeSans;
    position: absolute;
	text-align: center;
}

.CanvasButton {
	font-family: Arial, FreeSans;
	
    position: absolute;
    
    background-color: white;
    color: #333399;
    
    padding: 10px;
    
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.CanvasButton:hover {
	background-color: lightgrey;
	color: black;
}

.CanvasArrow {}

.Invisible {
	background: transparent;
    position: absolute;
    padding: 10px;
    border-width: 0px;
}


