body {
    font-family: Arial, FreeSans;
    background-color: #333399;
    font-size: 25px;
    color: white;
}
h {
    font-size: 50px;
    font-weight: bold;
}
a {
    font-weight: bold;
    color: lightgrey;
}

/* Escape game related */

#errinfo {
	background-color: green;
	border-left: 10px solid lightgreen;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#canvas_container {
     position: relative;
}

#EscapeCanvas {
    position: absolute;
    z-index: -1;
}

.CanvasButton {
	font-family: Arial, FreeSans;
	
    position: absolute;
    
    background-color: white;
    color: #333399;
    
    text-align: center;
    padding: 10px;
    
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.CanvasButton:hover {
	background-color: lightgrey;
	color: black;
}

.CanvasArrow {
	font-family: Arial, FreeSans;
	
    background: transparent;
    position: absolute;
    text-align: center;
    padding: 10px;
    border-width: 0px;
    border-color: #000000;
}


